.search-bar-header {
    display: flex;
    justify-content: space-around;
    line-height: 70px;
    height: 80px;
    border-bottom: 1px solid #333333
}

.logo-img {
    width: 6%;
}

input {
    height: 25px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}

.like-img {
    width: 5%;
}